{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ artist.name }} <small>- has {% if artist.num_upcoming_shows == 0 %}no{% else %}{{ artist.num_upcoming_shows }}{% endif %} upcoming {% if artist.num_upcoming_shows == 1 %}show{% else %}shows{% endif %}</small></h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}