{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			<span style="margin-right: 10rem;">{{ artist.name }}</span> <a title="Edit Artist" href="/artists/{{ artist.id }}/edit" style="margin-right: 1rem;"><i class="fa fa-edit"></i></a><a class="delete" title="Delete Artist" href="#" data-name="artists" data-id="{{ artist.id }}"><i class="fa fa-window-close"></i></a>
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }}
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if artist.website_link %}<a href="{{ artist.website_link }}" target="_blank">{{ artist.website_link }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		<section>
			<h4 class="monospace">Artist Has {% if artist.albums_count == 0 %}No{% else %}{{ artist.albums_count }}{% endif %} {% if artist.albums_count == 1 %}Album{% else %}Albums{% endif %}</h2>
			<ul style="padding-left: 2rem; list-style: none;">
				{% for album in artist.albums %}
				<li>
					<h5><i class="fas fa-compact-disc" style="margin-right: 1rem;"></i>{{ album.name }} <small>- has {% if album.songs_count == 0 %}no{% else %}{{ album.songs_count }}{% endif %} {% if album.songs_count == 1 %}song{% else %}songs{% endif %}</small></h5>
					<ul style="padding-left: 3.5rem; list-style: none;">
						{% for song in album.songs %}
						<li>
							<h6><i class="fas fa-music" style="margin-right: 1rem;"></i>{{ song }}</h6>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</section>
		{% if artist.available_times %}
		<p style="margin: 2rem 0;">Artist is available only from {{ artist.available_start|datetime('medium') }} to {{ artist.available_end|datetime('medium') }}.<p>
		{% else %}
		<p style="margin: 2rem 0;">Artist is available.<p>
		{% endif %}
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking venues</p>
			{% if artist.seeking_description %}
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
			{% endif %}
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Artist Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{% if artist.upcoming_shows_count == 0 %}No{% else %}{{ artist.upcoming_shows_count }}{% endif %} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{% if artist.past_shows_count == 0 %}No{% else %}{{ artist.past_shows_count }}{% endif %} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}
